body {
  margin: 0;
}

h3,
p,
a {
  font-family: 'raleway', Arial, serif;
  font-size: 0.875rem;
  
}

a {
  background-color: transparent;
}

p {
  font-family: 'Raleway', sans-serif;
}


header,
main {
  padding: 0 1rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
  align-items: center;
  padding: 0;
}

.underline_1{

  border-top: solid;
  border-color: #0065FC;
  
  

} 

.inscription a {
  color: #0065FC;
  font-weight: bold;
  text-decoration: none;
}

header nav li {
  margin-right: 1.875rem;
  padding : 1rem;
}

header nav a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.conteneur a:visited {
  color: #AAA;
  /* Appliquer une couleur grise */
}

.topnav .search-container button {
  padding: 8px;
  margin: 0;
  background: #0065FC;
  color: #FFFFFF;
  font-size: 17px;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
}

.search-icon {
  display: inline-block;
  border-radius: 0.5em 0 0 0.5em;
  padding: 1rem;
  background-color: rgb(235, 233, 233);
}

.search-input {
  display: flex;
}

.search-input input {
  border: 2px solid #F2F2F2;
  padding: 1rem;
}

input {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

#filters {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  flex-wrap: wrap;
}

.logo_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.0625rem;
  color: blue;
  font-size: 1.25rem;
  background-color: #DEEBFF;
  width: 1.25rem;
  height: 1.rem;
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;

}

#logo_info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  color: blue;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
  border: 2px solid #F2F2F2;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.infos {
  margin-left: 1.2rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.box {
  display: flex;

  flex-wrap: wrap;
}
.box a {
  text-decoration: none;
  color: black;
  margin: 0 2rem;
}
.box a:visited {
  color: black;
}

.box_filters {
  display: flex;
  align-items: center;
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
  border: 2px solid #F2F2F2;
}

.logo_filters {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.0625rem;
  color: blue;
  font-size: 1.25rem;
  background-color: #DEEBFF;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.far,
.fas {
  font-family: "Font Awesome 5 Free";
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.herbegements {
  margin-right: 2rem;
}

.herbegements,
.populaires {
  background-color: #F2F2F2;
}
.herbegements,
.populaires,
.activites {
  padding: 2rem;
}

.option {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.enligne {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.texte {
  margin-left: 12px;
}

.herbegements article {
  border-radius: 25px;
  border: 2px solid white;
  width: 240px;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 0 14px black;
}

article img {
  width: 100%;
  height: 160px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
}

article .texte i {
  color: #0065FC;
}

.titre h2 {
 
  display: flex;
  justify-content: space-between;
}

.populaires article {
  display: flex;
  border-radius: 25px;
  border: 2px solid white;
  width: 280px;
  margin: 20px;
  box-shadow: 0 0 14px black;
  background-color: white;
}
.populaires article img {
  border-radius: 25px 0px 0px 25px;
  width: 120px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activites article {
  border-radius: 25px;
  border: 2px solid white;
  width: 240px;
  margin: 20px;
  background-color: white;
  box-shadow: 0 0 14px black;
}

.port article img {
  height: 400px;
}

.mer {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.parc {
  background-color: white;
}
.parc article img {
  height: 400px;
}

.monuments {
  display: flex;
  flex-direction: column;
  background-color: white;
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #F2F2F2;
  align-content: space-between;
  list-style-type: none;
}
footer section {
  margin: 3rem;
}
footer section:nth-child(2) {
  margin-left: 10%;
  margin-right: 10%;
}
footer section ul {
  padding: 0;
}
footer section li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer section li a {
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 1380px)
{
  html {
    background-color: #AAA;
  }

  body {
    width: 1380px;
    margin: auto;
    background-color: #FFF;
    box-shadow: 0 0 10px black;
  }
}

@media screen and (min-width: 1280px)
{
  
  .search-icon {
    display: inline-block;
  }
  .search-input {
    display: flex;
  }

  input {
    display: inline-block;
    width: auto;
  }

  .filter ul {
    display: flex;
  }
  .filter li {
    width: auto;
    height: auto;
  }
  .filter p {
    margin-right: auto;
  }
  .filter i.fas {
    display: inline-block;
  }

  article .texte i {
    color: #0065FC;
  }

  .titre i.fas {
    margin-left: 100px;
  }

  footer section li {
    margin-bottom: auto;
  }
  footer section ul {
    margin-right: auto;
  }
}


@media screen and (max-width: 1286px)
{
  .activites {
    flex-direction: column-reverse;
  }
}


@media screen and (max-width: 600px)
{

  
  
  header nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
  }

  header nav ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    width: 100%;
    text-align: center;

  }

  #filters {

    flex-direction: column;
    align-items: initial;
  }

   nav .inscription {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    
}
 
.logo, .inscription {

  order : 1;
}

header nav li {
  margin: auto;
}
nav ul {



    display: flex;
    flex-direction: flex-end;
    align-content: stretch;
    margin : auto;
    order : 2;
  
    
  
}

nav li {

  width : 100%;
  padding : 1rem;
}
 
.underline_1 {

  border-top: none;
  border-bottom: solid;
  border-color: #0065FC;
  padding : 1rem;
  
}

.underline_2 {
  border-bottom: solid;
  border-color: grey;

  
}
  .container2 {
    display: flex;
    flex-wrap: wrap;
    padding : 1rem;
    
}
nav {

 
}

.herbegements {


  margin-top: 2rem;
  margin-right: auto;
}

.herbegements article, .activites article{

  width : auto;
}

.herbegements img, .activites img {
  height: 140px !important;
  object-fit: cover;
 
}



.herbegements, .populaires, .activites {
  padding: 0.5rem;
}
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
  }
}
